<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>我的計帳本 @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/bootstrap-icons/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AccountingTool.styles.css" asp-append-version="true" />
</head>
<body>
    <div id="loading-page" class="vw-100 vh-100 position-fixed d-flex justify-content-center align-items-center bg-white text-center"
         style="z-index:10000">
        <h2>資料載入中
            <div class="progress mt-3" style="width: 250px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-dark"
                style="width: 100%"></div>
            </div>
        </h2>
    </div>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom mb-3">
            <div class="container-fluid">
                <a class="navbar-brand fw-bold" asp-area="" asp-controller="Home" asp-action="Index">我的計帳本</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 d-flex justify-content-end">
                        <li class="nav-item">
                            <button class="btn fw-bold" id="logOutButton">登出</button>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark fw-bold" href="/AccountingData/AccountPage/CreateAccount">註冊</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - AccountingTool - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/vue/vue.global.min.js"></script>
    <script src="~/Chart.js/chart.min.js"></script>
    <script src="~/Chart.js/chart.umd.js"></script>
    <script src="~/js/calculatorMixin.js"></script>
    <script src="~/js/VueMixin.js"></script>
    <script src="~/js/ChartMixin.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/axios/axios.js" asp-append-version="true"></script>
    
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        // 取得token
        function getCookie(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(';').shift();
        }
        const token = getCookie("accountingToolToken")

        // 取得url
        const url = window.location.origin + "/api/Users/CheckTokenValid"

        // 確認token是否有效
        axios({
            method: "POST",
            url: url,
            headers: {
               Authorization: `Bearer ${token}`
            }
        }).catch((error) => {
            if (error.response.status === 401) {
                window.location = window.location.origin + "/AccountingData/AccountPage/UnauthorizedPage"
            }
        })

        const logOutButton = document.getElementById('logOutButton')
        logOutButton.addEventListener("click", function () {
            const date = new Date();
            date.setTime(date.getTime() - 1000000);
            console.log(date)
            document.cookie = "accountingToolToken='';expires=" + date.toGMTString();

            window.location = window.location.origin + "/AccountingData/AccountPage/UnauthorizedPage"
        })
        
    </script>
</body>
</html>
