@{
    Layout = "~/Views/Shared/_LayoutAccoutPage.cshtml";
}

<div id="app" class="text-center">
    <div class="container max-width-500">
        <h3 class="fw-bold mt-5">您已登出 或 登入已逾期</h3>
        <h5 class="fw-bold mt-3">
            <div class="spinner-border spinner-border-sm" role="status"></div>
            即將切換至登入頁面
        </h5>
    </div>
</div>
@section scripts{
    <script>
        // 倒數計時，轉至登入頁面
        setTimeout(() => {
            window.location = window.location.origin + "/AccountingData/AccountPage/Login"
        }, 3000)
    </script>
}
