@{
    ViewData["Title"] = "資料列表";
}

<div id="app" class="text-center">
    <div class="container max-width-500">
        @* 切換支出/收入/盈餘 *@
        <div class="btn-group btn-group-lg mb-3" role="group" aria-label="Basic example">
            <button v-for="item in buttonGroupItems" :key="'button-group-'+item.value" v-on:click="changeCategory(item.value)"
                    type="button" :id="'button-group-'+item.value" class="btn border shadow-none">
                {{item.text}}
            </button>
        </div>
        @* 輸入時間篩選條件 *@
        <div class="text-start border rounded mb-3 p-3">
            <h5 class="fw-bold mb-3">時間篩選條件</h5>
            <div class="d-flex align-items-center mb-3">
                <span class="me-3">從</span><input type="date" class="form-control"
                v-model="searchDate.startDate" v-on:change="getDataList" />
            </div>
            <div class="d-flex align-items-center">
                <span class="me-3">到</span><input type="date" class="form-control"
                v-model="searchDate.endDate"  v-on:change="getDataList"/>
            </div>
        </div>
        @* 圖表區域 *@
        <canvas id="myChart" class="mb-5 w-75 h-75 mx-auto"></canvas>
        @* 資料細項 *@
        <h3 class="py-5" v-if="classifiedDataList.length ===0">查無資料</h3>
        <div class="accordion mb-3">
            <div class="accordion-item mb-3" v-for="(item, index) in classifiedDataList" :key="item.date">
                <h2 class="accordion-header" id="headingOne">
                    <div class="bg-dark text-white w-100 fs-5 p-2 ps-3 text-start" type="button"
                    data-bs-toggle="collapse" :data-bs-target="'#'+'data-'+item.date"
                    aria-expanded="true" :aria-controls="'data-'+item.date">
                        <span class="ms-2">{{item.date}}</span>
                        <span class="ms-2" v-if="category === 'earning'">盈餘：{{item.earning}}元</span>
                        <span class="ms-2" v-if="category === 'expense'">總支出：{{item.totalExpense}}元</span>
                        <span class="ms-2" v-if="category === 'income'">總收入：{{item.totalIncome}}元</span>
                    </div>
                </h2>
                @* 資料列表 *@
                <div :id="'data-'+item.date" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                    <div class="accordion-body text-start border-bottom px-2">
                        <div class="d-flex flex-column border p-2 mb-2" v-if="category === 'earning'">
                            <span class="ms-2">總支出：{{item.totalExpense}}元</span>
                            <span class="ms-2">總收入：{{item.totalIncome}}元</span>
                        </div>
                        <div class="d-flex flex-column border p-2 mb-2" v-for="dataItem in item.dataItemsForThisDate">
                            <div class="d-flex justify-content-between align-items-center p-2">
                                <div>
                                    <i :class="dataItem.labelContent.icon"></i>
                                    <span class="ms-2">{{dataItem.labelContent.name}}</span>
                                    <span class="ms-2">{{dataItem.price}}元</span>
                                </div>
                                <div>
                                    <button type="button" class="btn btn-dark me-2" v-on:click="editPage(dataItem.id)">編輯</button>
                                    <button type="button" class="btn btn-dark" v-on:click="deleteData(dataItem.id)">刪除</button>
                                </div>
                            </div>
                            <span class="border-top p-2">備註：{{dataItem.description}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* 新增按鈕 *@
        <button type="button" class="btn shadow-none" v-on:click="createPage">
            <i class="bi bi-plus-circle-fill fs-2"></i>
        </button>
    </div>
</div>
@section scripts{
    <script>
        const app = Vue.createApp({
            mixins: [VueMxin, ChartMxin],
            data() {
                return {
                    buttonGroupItems: [
                        { text: "支出", value: "expense"},
                        { text: "收入", value: "income"},
                        { text: "盈餘", value: "earning" }
                    ],
                    searchDate: {
                        startDate: null,
                        endDate: null
                    },
                    category: "expense",
                    dataList: [],
                    classifiedDataList: []
                }
            }
            ,created() {
                // 預設資料篩選時間從三個月前到今天
                const currentDate = new Date();
                this.searchDate.endDate = this.dateTransfer(currentDate);

                const oneMonthAgDate = new Date();
                oneMonthAgDate.setMonth(currentDate.getMonth() - 3);
                this.searchDate.startDate = this.dateTransfer(oneMonthAgDate);
                
            }
            , mounted() {
                this.changeCategory("expense")
            }
            , methods: {
                changeCategory(categoryButtonItemValue) {
                    // 設定支出/收入/盈餘模式
                    this.category = categoryButtonItemValue
                    // 調整支出/收入/盈餘按鈕樣式
                    this.buttonGroupItems.forEach(item => {
                        const buttonItemId = `button-group-${item.value}`
                        const targetButton = document.getElementById(buttonItemId)
                        if (item.value === categoryButtonItemValue) {
                            targetButton.classList.add("btn-dark")
                        }else{
                            targetButton.classList.remove("btn-dark")
                        }
                    })
                    // 重新搜尋資料
                    this.getDataList();
                },
                getDataList() {
                    const params = new URLSearchParams()
                    params.append("category", this.category)
                    params.append("startDate", this.searchDate.startDate)
                    params.append("endDate", this.searchDate.endDate)
                    
                    const url = "api/AccountingTool/getDataList?" + params
                    axios({
                        method: "GET",
                        url: url,
                        headers: {
                            Authorization: `Bearer ${this.getToken()}`
                        }
                    })
                    .then((res) => {
                        if(this.category === "expense" || this.category === "income") {
                            // 如果當前模式為支出/收入依日期分組
                            res.data.forEach(item => {
                                item.time = this.dateTransfer(item.time)
                            });
                           this.classifiedDataList = this.dataClassify(res.data).dataListEachDate;
                        }else{
                            // 如果當前模式為盈餘依月份分組
                            res.data.forEach(item => {
                               item.time = this.dateTransferToMonth(item.time)
                            });
                           this.classifiedDataList = this.dataClassify(res.data).dataListEachDate;
                           this.classifiedDataList.forEach(item => {
                                    item.earning = item.totalIncome - item.totalExpense
                           })
                        }

                        this.updateChart(res.data);
                    })
                },
                dataClassify(dataList) {
                    // 依日期分類資料
                    const classifiedData = dataList.reduce((accumulator, currentValue) => {
                        const currentDate = currentValue.time;
                        const dateIndex = accumulator.dateList.indexOf(currentValue.time);
                        const isNewDate = dateIndex === -1;

                        if (isNewDate) {
                            accumulator.dateList.push(currentDate);
                            accumulator.dataListEachDate.push(this.dataListEachDateItem(currentValue));
                        } else {
                            if (currentValue.category === "expense") {
                                accumulator.dataListEachDate[dateIndex].totalExpense += currentValue.price;
                            } else if (currentValue.category === "income") {
                                accumulator.dataListEachDate[dateIndex].totalIncome += currentValue.price;
                            }
                            accumulator.dataListEachDate[dateIndex].totalPrice += currentValue.price;
                            accumulator.dataListEachDate[dateIndex].dataItemsForThisDate.push(currentValue)
                        }

                        return accumulator;
                    }, {
                        dateList: [],
                        dataListEachDate: []
                    })

                    return classifiedData;
                },
                dataListEachDateItem(firstItem) {
                    const result = {
                        date: firstItem.time,
                        earning: 0,
                        totalExpense: 0,
                        totalIncome: 0,
                        dataItemsForThisDate: [firstItem]
                    }
                    if (firstItem.category === "expense") {
                        result.totalExpense = firstItem.price;
                    } else if (firstItem.category === "income") {
                        result.totalIncome = firstItem.price;
                    }
                    return result;
                    
                },
                createPage() {
                    window.location = window.location.origin + "/AccountingData/CreateAndUpdate/Create?category=" + this.category;
                },
                editPage(dataId) {
                    window.location = window.location.origin + "/AccountingData/CreateAndUpdate/Edit?Id=" + dataId;
                },
                deleteData(dataId) {
                    const url = "api/AccountingTool/deleteData/" + dataId
                    axios({
                        method: "DELETE",
                        url: url,
                        headers: {
                            Authorization: `Bearer ${this.getToken()}`
                        }
                    })
                    .then((res) => {
                        alert(res.data)
                        this.getDataList();
                    })
                }
            }
        });
        const vm = app.mount('#app');
    </script>
}

