@{
    ViewData["Title"] = "Home Page";
}

<div id="app" class="text-center">
    <div class="btn-group btn-group-lg mb-5" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-dark shadow-none">支出</button>
        <button type="button" class="btn btn-dark shadow-none">收入</button>
        <button type="button" class="btn btn-dark shadow-none">盈餘</button>
    </div>
    
    <div class="container max-width-500">
        @* 圖表區域 *@
        <canvas id="myChart" class="mb-3"></canvas>

        @* 資料細項 *@
        <div class="accordion mb-3">
            <div class="accordion-item" v-for="(item, index) in dataList" :key="item.id">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button bg-dark text-white" type="button"
                    data-bs-toggle="collapse" :data-bs-target="'#'+'data-'+item.id"
                    aria-expanded="true" :aria-controls="'data-'+item.id">
                        <i :class="item.labelContent.icon"></i>
                        <span class="ms-2">{{item.labelContent.name}}</span>
                        <span class="ms-2">{{item.price}}元</span>
                    </button>
                </h2>
                <div :id="'data-'+item.id" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body text-start">
                        <div class="border-bottom py-2">類別：{{item.labelContent.name}}</div>
                        <div class="border-bottom py-2">時間：{{item.time}}</div>
                        <div class="border-bottom py-2">金額：{{item.price}}</div>
                        <div class="py-2">描述：{{item.description}}</div>
                        <div class="py-2 text-center">
                            <button type="button" class="btn btn-dark me-2" v-on:click="editPage(item.id)">編輯</button>
                            <button type="button" class="btn btn-dark" v-on:click="deleteData(item.id)">刪除</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* 新增按鈕 *@
        <button type="button" class="btn shadow-none" v-on:click="createPage">
            <i class="bi bi-plus-circle-fill fs-2"></i>
        </button>
    </div>
</div>
@section scripts{
    <script type="module">
        const ctx = document.getElementById('myChart');

        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                datasets: [{
                    label: '# of Votes',
                    data: [12, 19, 3, 5, 2, 3],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
    <script>
        const app = Vue.createApp({
            mixins: [VueMxin],
            data() {
                return {
                    category: "expense",
                    dataList: [],
                    chart: null,
                    chartContent: {
                        type: 'bar',
                        data: {
                            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                            datasets: [{
                                label: '# of Votes',
                                data: [12, 19, 3, 5, 2, 3],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            },

                        }
                    }
                }
            }
            , created() {
                this.getDataList();
            }
            , mounted() {
                this.chart = this.newChart();
            }
            , methods: {
                getDataList() {
                    const url = "api/AccountingTool/getDataList/" + this.category
                    axios({
                        method: "GET",
                        url: url,
                        headers: {
                            Authorization: `Bearer ${this.getToken()}`
                        }
                    })
                    .then((res) => {
                        this.dataList = res.data;
                        // 編輯日期格式
                        this.dataList.forEach(item => {
                            item.time = this.dateTrnsfer(item.time)
                        });
                    })
                },
                newChart() {
                    const ctx = document.getElementById('myChart');
                    return new Chart(ctx, this.chartContent);
                },
                updateChart() {
                    this.chart.destroy();
                    this.chart = newChart();
                },
                createPage() {
                    window.location = window.location.origin + "/AccountingData/CreateAndUpdate/Create";
                },
                editPage(dataId) {
                    window.location = window.location.origin + "/AccountingData/CreateAndUpdate/Edit?Id=" + dataId;
                },
                deleteData(dataId) {
                    const url = "api/AccountingTool/deleteData/" + dataId
                    axios({
                        method: "DELETE",
                        url: url,
                        headers: {
                            Authorization: `Bearer ${this.getToken()}`
                        }
                    })
                    .then((res) => {
                        alert(res.data)
                        this.getDataList();
                    })
                }
            }
        });
        const vm = app.mount('#app');
    </script>
}

